body {
    margin: 0;
    padding: 0;
    background-color: #47E786;
    color: black;
    text-align: center;
   }
   .menor {
    color: rgb(143, 0, 0);
    
   }
   .mayor {
    color: blue;
   }
   button {
    margin: 0px 0.5rem;
   }
   